# App
APP_NAME=SecureIntent
ENV=development

# OpenAI
OPENAI_API_KEY=your_key_here

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/secureintent

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=supersecretkey
JWT_ALGORITHM=HS256

# Gmail
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=